#page{
    max-width:960px;
	margin:0 auto 2em auto;
}

body {
	padding-top: 0;
	font-family: Georgia, sans-serif;
}

.navbar .brand {
 	padding: 5px;
}

ul.nav{
}

ul.nobullet{
    list-style-type:none;
}

product_img{
    width:109px;
    height:100px;
    padding: 0em 0 1em 0;
}

#call-phone {
	font-size:1.5em;
    margin-top: 70px;
	float:right;
	color:#000000;
	z-index: 2;
	width:auto;
}
 
footer {
	border-top: solid 0.5px;
	text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

footer p{
	line-height: 6px;
	padding: 0.1em;
}

.active{
    color: #fff;